<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 利用Spring获取yml中的配置项 -->
    <springProperty scope="context" name="app.name" source="spring.application.name" defaultValue="spring"/>
    <springProperty scope="context" name="log.path" source="logging.file.path" defaultValue="logs"/>
    <!-- 直接赋值的配置项 -->
    <property name="LOG_PATH" value="${log.path}/${app.name}"/>
    <property name="maxFileSize" value="10MB"/>
    <property name="totalSizeCap" value="10GB"/>
    <property name="maxHistory" value="100"/>
    <!-- 继承springboot的默认logback配置 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- ********************* 打印器 ********************* -->
    <!-- 继承springboot的默认logback控制台打印器 -->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <!-- 完整日志文件打印器 -->
    <appender name="ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}-all.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}-all-%i.log</fileNamePattern>
            <maxFileSize>${maxFileSize}</maxFileSize>
            <totalSizeCap>${totalSizeCap}</totalSizeCap>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>
    <!-- 审计日志文件打印器 -->
    <appender name="AUDI" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--配置生成日志的文件路径-->
            <FileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}-audit.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <filter class="com.zhongshijie1995.big_boot.util.log.AuditLog"/>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}-audit-%i.log</fileNamePattern>
            <maxFileSize>${maxFileSize}</maxFileSize>
            <totalSizeCap>${totalSizeCap}</totalSizeCap>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>
    <!-- ********************* 打印器 ********************* -->

    <!-- ********************* 筛选器 ********************* -->
    <!-- 附加：筛选DEBUG -->
    <logger name="com.zhongshijie1995" level="DEBUG"/>

    <!-- 根：筛选INFO写入到控制台和普通文件 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ALL"/>
        <appender-ref ref="AUDI"/>
    </root>
    <!-- ********************* 筛选器 ********************* -->

</configuration>
