<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <!-- 主体信息 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BigBoot-世杰实验室">
    <meta content="钟世杰" name="author">
    <title>BigBoot-世杰实验室</title>

    <!-- 网站图标 -->
    <link href="https://www.ansonika.com/magellano/img/favicon.ico" rel="shortcut icon"
          type="image/x-icon">
    <link href="https://www.ansonika.com/magellano/img/apple-touch-icon-57x57-precomposed.png" rel="apple-touch-icon"
          type="image/x-icon">
    <link href="https://www.ansonika.com/magellano/img/apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon"
          sizes="72x72"
          type="image/x-icon">
    <link href="https://www.ansonika.com/magellano/img/apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon"
          sizes="114x114"
          type="image/x-icon">
    <link href="https://www.ansonika.com/magellano/img/apple-touch-icon-144x144-precomposed.png" rel="apple-touch-icon"
          sizes="144x144"
          type="image/x-icon">

    <!-- 谷歌字体 -->
    <link href="https://fonts.gstatic.com/" rel="dns-prefetch">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="anonymous">
    <link as="fetch" crossorigin="anonymous"
          href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="preload">
    <script type="text/javascript">
        !function (e, n, t) {
            "use strict";
            var o = "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap",
                r = "__3perf_googleFonts_c2536";

            function c(e) {
                (n.head || n.body).appendChild(e)
            }

            function a() {
                var e = n.createElement("link");
                e.href = o, e.rel = "stylesheet", c(e)
            }

            function f(e) {
                if (!n.getElementById(r)) {
                    var t = n.createElement("style");
                    t.id = r, c(t)
                }
                n.getElementById(r).innerHTML = e
            }

            e.FontFace && e.FontFace.prototype.hasOwnProperty("display") ? (t[r] && f(t[r]), fetch(o).then(function (e) {
                return e.text()
            }).then(function (e) {
                return e.replace(/@font-face {/g, "@font-face{font-display:swap;")
            }).then(function (e) {
                return t[r] = e
            }).then(f).catch(a)) : a()
        }(window, document, localStorage);
    </script>

    <!-- 基础CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

    <!-- 特定CSS -->
    <link href="static/css/home.css" rel="stylesheet">
</head>

<body>

<div id="preloader">
    <div data-loader="circle-side"></div>
</div>

<!-- 顶栏 -->
<header class="header clearfix element_to_stick">
    <!-- 不透明遮罩菜单移动 -->
    <div class="layer"></div>
    <!-- 顶栏内容 -->
    <div class="container">
        <!-- 顶栏图标 -->
        <div class="logo">
            <a href=""><h2>BigBoot</h2></a>
        </div>
        <!-- 顶栏按钮 -->
        <ul class="top_menu">
            <li><a class="btn_access" href="login.html">关于</a></li>
        </ul>
        <!-- 菜单 -->
        <a class="open_close" href="#0">
            <i class="bi bi-list"></i><span>Menu</span>
        </a>
        <nav class="main-menu">
            <!-- 顶栏LOGO -->
            <div id="header_menu">
                <a class="open_close" href="#0"><i class="bi bi-x"></i></a>
                <a class="logo_menu" href="">
                    <img alt="" class="dark lazy" data-src="img/logo.svg" height="30"
                         src="static/picture/logo-placeholder.png" width="120">
                    <img alt="" class="light lazy" data-src="img/logo-light-mode.svg" height="30"
                         src="static/picture/logo-placeholder.png" width="120">
                </a>
            </div>
            <!-- 顶栏菜单 -->
            <ul>
                <!-- 多级菜单 -->
                <li class="submenu">
                    <!-- 一级菜单 -->
                    <a class="show-submenu" href="#0">主页</a>
                    <ul>
                        <!-- 二级菜单 -->
                        <li><a href="">全部</a></li>
                    </ul>
                </li>
                <!-- 单极菜单 -->
                <li><a href="javascript:" target="">提示</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- 主体 -->
<main>
    <!-- 封面 -->
    <div class="hero_single version_2 jarallax" data-jarallax="">
        <img alt="" class="jarallax-img" src="static/picture/hero_general.jpg">
        <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-10">
                        <h1 class="slide-animated one">发现，收集，<br>创造非凡的应用程序</h1>
                        <p class="slide-animated two">@钟世杰 唯一的SpringBoot实验项目</p>
                        <div class="search_trends">
                            <h5>热门:</h5>
                            <ul>
                                <li><a href="#0">量化交易</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wave hero"></div>
    </div>

    <!-- 主体1 -->
    <div class="container margin_90_90">
        <!-- 顶级标题 -->
        <div class="main_title center">
            <span><em></em></span>
            <h2>量化交易</h2>
            <p>实时查看最新的量化交易监控的操作建议</p>
        </div>
        <!-- 多页窗口 -->
        <div class="owl-carousel owl-theme featured_carousel" data-cue="slideInUp">
            <!-- 沪深股票 -->
            <div class="item">
                <div class="strip">
                    <figure>
                        <a class="btn_1 modal_popup" href="#modal-dialog">操作建议</a>
                        <img alt="" class="owl-lazy"
                             data-src="img/items/item-1.jpg" height="400" src="static/picture/item-1-placeholder.png"
                             width="533">
                        <a class="strip_info" href="detail-page.html">
                            <div class="item_title">
                                <h3>中国A股</h3>
                                <small>3.25</small>
                            </div>
                        </a>
                    </figure>
                    <ul>
                        <li>
                            <a class="author" href="author.html">
                                <div class="author_thumb veryfied"><i class="bi bi-check"></i>
                                    <figure>
                                        <img alt="" class="owl-lazy"
                                             data-src="img/avatar2.jpg" height="100"
                                             src="static/picture/avatar-placeholder.png" width="100">
                                    </figure>
                                </div>
                                <h6>@George_luke</h6>
                            </a>
                        </li>
                        <li>
                            <a class="wish_bt" href="#0"><i class="bi bi-heart-fill"></i></a> 50
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 可转债 -->
            <div class="item">
                <div class="strip">
                    <figure>
                        <a class="btn_1 modal_popup" href="#modal-dialog">Place a bid</a>
                        <img alt="" class="owl-lazy"
                             data-src="img/items/item-3.jpg" height="400" src="static/picture/item-1-placeholder.png"
                             width="533">
                        <a class="strip_info" href="detail-page.html">
                            <div class="item_title">
                                <h3>可转债</h3>
                                <small>0.25</small>
                            </div>
                        </a>
                    </figure>
                    <ul>
                        <li>
                            <a class="author" href="author.html">
                                <div class="author_thumb veryfied"><i class="bi bi-check"></i>
                                    <figure>
                                        <img alt="" class="owl-lazy"
                                             data-src="img/avatar3.jpg" height="100"
                                             src="static/picture/avatar-placeholder.png" width="100">
                                    </figure>
                                </div>
                                <h6>@Monica_Claus</h6>
                            </a>
                        </li>
                        <li>
                            <a class="wish_bt" href="#0"><i class="bi bi-heart-fill"></i></a> 50
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 逆回购 -->
            <div class="item">
                <div class="strip">
                    <div class="countdown" data-countdown="2022/03/15"></div>
                    <figure>
                        <a class="btn_1 modal_popup" href="#modal-dialog">Place a bid</a>
                        <img alt="" class="owl-lazy"
                             data-src="img/items/item-4.jpg" height="400" src="static/picture/item-1-placeholder.png"
                             width="533">
                        <a class="strip_info" href="detail-page.html">
                            <div class="item_title">
                                <h3>国债逆回购</h3>
                                <small>2.45 ETH</small>
                            </div>
                        </a>
                    </figure>
                    <ul>
                        <li>
                            <a class="author" href="author.html">
                                <div class="author_thumb">
                                    <figure>
                                        <img alt="" class="owl-lazy"
                                             data-src="img/avatar1.jpg" height="100"
                                             src="static/picture/avatar-placeholder.png" width="100">
                                    </figure>
                                </div>
                                <h6>@Mario_1988</h6>
                            </a>
                        </li>
                        <li>
                            <a class="wish_bt" href="#0"><i class="bi bi-heart-fill"></i></a> 50
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- 页脚 -->
<footer>
    <div class="container">
        <!-- 相关页 -->
        <div class="row add_bottom_25">
            <div class="col-md-6">
                <ul class="footer-selector clearfix">
                    <li>
                        <div class="styled-select lang-selector">
                            <select>
                                <option selected="" value="English">中文</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="additional_links">
                    <li><a href="#0">big_boot</a></li>
                    <li>© 2022 钟世杰</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- 回到顶部按钮 -->
<div id="toTop"></div>

<!-- 公共脚本 -->
<script src="static/js/common_scripts.min.js"/>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"/>
<script src="static/js/common_func.js"></script>

</body>
</html>