<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Magellano - NFT Marketplace Website Template by Ansonika">
    <meta name="author" content="Ansonika">
    <title>Magellano - NFT Marketplace Website Template</title>

    <!-- FAVICONS-->
    <link rel="shortcut icon" href="https://www.ansonika.com/magellano/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="https://www.ansonika.com/magellano/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="https://www.ansonika.com/magellano/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="https://www.ansonika.com/magellano/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="https://www.ansonika.com/magellano/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE FONT -->
	<link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="anonymous">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" as="fetch" crossorigin="anonymous">
    <script type="text/javascript">
    !function(e,n,t){"use strict";var o="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap",r="__3perf_googleFonts_c2536";function c(e){(n.head||n.body).appendChild(e)}function a(){var e=n.createElement("link");e.href=o,e.rel="stylesheet",c(e)}function f(e){if(!n.getElementById(r)){var t=n.createElement("style");t.id=r,c(t)}n.getElementById(r).innerHTML=e}e.FontFace&&e.FontFace.prototype.hasOwnProperty("display")?(t[r]&&f(t[r]),fetch(o).then(function(e){return e.text()}).then(function(e){return e.replace(/@font-face {/g,"@font-face{font-display:swap;")}).then(function(e){return t[r]=e}).then(f).catch(a)):a()}(window,document,localStorage);
    </script>

    <!-- BASE CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
	<link href="static/css/style.css" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="static/css/home.css" rel="stylesheet">
</head>

<body>
	
	<div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
				
	<header class="header clearfix element_to_stick">
	    <div class="layer"></div><!-- Opacity Mask Menu Mobile -->
	    <div class="container">
	       <div class="logo">
	            <a href="index.html">
	                <img src="static/picture/logo.svg" alt="" width="140" height="35" class="dark">
	                <img src="static/picture/logo-light-mode.svg" alt="" width="140" height="35" class="light">
	            </a>
	        </div>
	        <ul class="top_menu">
	        	<li>
	        		<span class="color_mode_bt">
	        			<input id="theme_toggle" type="checkbox" name="theme_toggle">
						<label for="theme_toggle"></label>
	        		</span>
				</li>
	            <li><a href="login.html" class="btn_access">Log In</a></li>
	            <li><a href="connect-wallet.html" class="btn_access">Connect Wallet</a></li>
	        </ul>
	        <!-- /top_menu -->
	        <a href="#0" class="open_close">
	            <i class="bi bi-list"></i><span>Menu</span>
	        </a>
	        <nav class="main-menu">
	            <div id="header_menu">
	                <a href="#0" class="open_close">
	                    <i class="bi bi-x"></i>
	                </a>
	                <a href="index.html" class="logo_menu">
	                	<img src="static/picture/logo-placeholder.png" data-src="img/logo.svg" alt="" width="120" height="30" class="dark lazy">
	                	<img src="static/picture/logo-placeholder.png" data-src="img/logo-light-mode.svg" alt="" width="120" height="30" class="light lazy">
	                </a>
	            </div>
	            <ul>
	                <li class="submenu">
	                    <a href="#0" class="show-submenu">Home</a>
	                    <ul>
	                        <li><a href="index.html">Default</a></li>
	                        <li><a href="index-2.html">Experimental Particles</a></li>
	                        <li><a href="index-10.html">Particles</a></li>
	                        <li><a href="index-3.html">Video Background</a></li>
	                        <li><a href="index-4.html">Vertical Slider</a></li>
	                        <li><a href="index-5.html">Slider</a></li>
	                        <li><a href="index-6.html">Hero Categories</a></li>
	                        <li><a href="">Hero Vesion 2</a></li>
	                        <li><a href="index-7.html">GDPR Cookie Bar EU Law</a></li>
	                        <li><a href="index-8.html">Modal Advertise</a></li>
	                        <li><a href="index-9.html">Modal Newsletter</a></li>
	                    </ul>
	                </li>
	                <li class="submenu">
	                    <a href="#0" class="show-submenu">Explore</a>
	                    <ul>
	                        <li><a href="grid-listing-1.html">Grid Listing Default</a></li>
	                        <li><a href="grid-listing-2.html">Grid Listing Isotope Sort</a></li>
	                        <li><a href="grid-listing-3.html">Grid Listing Filters Left</a></li>
	                        <li><a href="detail-page.html">Detail page 1</a></li>
	                        <li><a href="detail-page-2.html">Detail page 2</a></li>
	                        <li><a href="author.html">Author page</a></li>
	                    </ul>
	                </li>
	                <li class="submenu">
	                    <a href="#0" class="show-submenu">Pages</a>
	                    <ul>
	                        <li><a href="404.html">404 Error</a></li>
	                        <li><a href="help.html">Help and Faq</a></li>
	                        <li class="third-level"><a href="#0">Pricing Tables</a>
	                            <ul>
	                                <li><a href="pricing-tables-1.html">Version 1</a></li>
	                                <li><a href="pricing-tables-2.html">Version 2</a></li>
	                                <li><a href="pricing-tables-3.html">Version 3</a></li>
	                            </ul>
	                        </li>
	                        <li><a href="become-author.html">Become an Author</a></li>
	                        <li><a href="author-edit-profile.html">Edit profile</a></li>
	                        <li><a href="upload-artwork.html">Upload Artwork</a></li>
	                        <li><a href="account-settings.html">Account Settings</a></li>
	                        <li><a href="blog.html">Blog</a></li>
	                        <li><a href="blog-no-sidebar.html">Blog no sidebar</a></li>
	                        <li><a href="contacts.html">Contacts</a></li>
	                        <li><a href="login.html">Login</a></li>
	                        <li><a href="register.html">Register</a></li>
	                    </ul>
	                </li>
	                <li><a href="javascript:;" target="_parent">Buy this template</a></li>
	            </ul>
	        </nav>
	    </div>
	</header>
	<!-- /header -->
	
	<main>

	    <div class="hero_single version_2 jarallax" data-jarallax="">
	    	<img class="jarallax-img" src="static/picture/hero_general.jpg" alt="">
	        <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
	            <div class="container">
	                <div class="row">
	                    <div class="col-xl-7 col-lg-8 pt-lg-5">
	                        <h1 class="slide-animated one">Discover, collect,<br>and sell extraordinary NFTs</h1>
	                        <p class="slide-animated two">on the world's first & largest NFT marketplace</p>
	                        <div class="count slide-animated three">
	                        	<ul>
	                        		<li><h4>7650</h4>Artworks</li>
	                        		<li><h4>32K</h4>Auctions</li>
	                        		<li><h4>3K</h4>Artist</li>
	                        	</ul>
	                        </div>
	                    </div>
	                    <div class="col-xl-5 col-lg-4 slide-animated four d-none d-lg-block"><img src="static/picture/hero_home.png" alt="" class="img-fluid"></div>
	                </div>
	                <!-- /row -->
	            </div>
	        </div>
	        <div class="wave hero"></div>
	    </div>
	    <!-- /hero_single -->

	    <div class="container margin_90_90">
	        <div class="main_title center">
	            <span><em></em></span>
	            <h2>Featured Items</h2>
	            <p>Cum doctus civibus efficiantur in imperdiet deterruisset</p>
	        </div>
	        <!-- /main_title -->

	        <div class="owl-carousel owl-theme featured_carousel" data-cue="slideInUp">
	            <div class="item">
	                <div class="strip">
	                    <figure>
	                        <a href="#modal-dialog" class="btn_1 modal_popup">Place a bid</a>
	                        <img src="static/picture/item-1-placeholder.png" data-src="img/items/item-1.jpg" class="owl-lazy" alt="" width="533" height="400">
	                        <a href="detail-page.html" class="strip_info">
	                            <div class="item_title">
	                                <h3>Amazing Art</h3>
	                                <small>3.25 ETH</small>
	                            </div>
	                        </a>
	                    </figure>
	                    <ul>
	                        <li>
	                            <a href="author.html" class="author">
	                                <div class="author_thumb veryfied"><i class="bi bi-check"></i>
	                                    <figure>
	                                        <img src="static/picture/avatar-placeholder.png" data-src="img/avatar2.jpg" alt="" class="owl-lazy" width="100" height="100">
	                                    </figure>
	                                </div>
	                                <h6>@George_luke</h6>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="#0" class="wish_bt"><i class="bi bi-heart-fill"></i></a> 50
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <!-- /item -->
	            <div class="item">
	                <div class="strip">
	                    <figure>
	                        <a href="#modal-dialog" class="btn_1 modal_popup">Place a bid</a>
	                        <img src="static/picture/item-1-placeholder.png" data-src="img/items/item-3.jpg" class="owl-lazy" alt="" width="533" height="400">
	                        <a href="detail-page.html" class="strip_info">
	                            <div class="item_title">
	                                <h3>Blue sea pain</h3>
	                                <small>0.25 ETH</small>
	                            </div>
	                        </a>
	                    </figure>
	                    <ul>
	                        <li>
	                            <a href="author.html" class="author">
	                                <div class="author_thumb veryfied"><i class="bi bi-check"></i>
	                                    <figure>
	                                        <img src="static/picture/avatar-placeholder.png" data-src="img/avatar3.jpg" alt="" class="owl-lazy" width="100" height="100">
	                                    </figure>
	                                </div>
	                                <h6>@Monica_Claus</h6>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="#0" class="wish_bt"><i class="bi bi-heart-fill"></i></a> 50
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <!-- /item -->
	            <div class="item">
	                <div class="strip">
	                    <div data-countdown="2022/03/15" class="countdown"></div>
	                    <figure>
	                        <a href="#modal-dialog" class="btn_1 modal_popup">Place a bid</a>
	                        <img src="static/picture/item-1-placeholder.png" data-src="img/items/item-4.jpg" class="owl-lazy" alt="" width="533" height="400">
	                        <a href="detail-page.html" class="strip_info">
	                            <div class="item_title">
	                                <h3>Abstraction</h3>
	                                <small>2.45 ETH</small>
	                            </div>
	                        </a>
	                    </figure>
	                    <ul>
	                        <li>
	                            <a href="author.html" class="author">
	                                <div class="author_thumb">
	                                    <figure>
	                                        <img src="static/picture/avatar-placeholder.png" data-src="img/avatar1.jpg" alt="" class="owl-lazy" width="100" height="100">
	                                    </figure>
	                                </div>
	                                <h6>@Mario_1988</h6>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="#0" class="wish_bt"><i class="bi bi-heart-fill"></i></a> 50
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <!-- /item -->
	            <div class="item">
	                <div class="strip">
	                    <figure>
	                        <a href="#modal-dialog" class="btn_1 modal_popup">Place a bid</a>
	                        <img src="static/picture/item-1-placeholder.png" data-src="img/items/item-5.jpg" class="owl-lazy" alt="" width="533" height="400">
	                        <a href="author.html" class="author">
	                        </a>
	                        <a href="detail-page.html" class="strip_info">
	                            <div class="item_title">
	                                <h3>The Rain Forest</h3>
	                                <small>1.25 ETH</small>
	                            </div>
	                        </a>
	                    </figure>
	                    <ul>
	                        <li>
	                            <a href="author.html" class="author">
	                                <div class="author_thumb veryfied"><i class="bi bi-check"></i>
	                                    <figure>
	                                        <img src="static/picture/avatar-placeholder.png" data-src="img/avatar4.jpg" alt="" class="owl-lazy" width="100" height="100">
	                                    </figure>
	                                </div>
	                                <h6>@Tomas_Clue</h6>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="#0" class="wish_bt"><i class="bi bi-heart-fill"></i></a> 50
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <!-- /item -->
	            <div class="item">
	                <div class="strip">
	                    <figure>
	                        <a href="#modal-dialog" class="btn_1 modal_popup">Place a bid</a>
	                        <img src="static/picture/item-1-placeholder.png" data-src="img/items/item-6.jpg" class="owl-lazy" alt="" width="533" height="400">
	                        <a href="detail-page.html" class="strip_info">
	                            <div class="item_title">
	                                <h3>The King</h3>
	                                <small>0.34 ETH</small>
	                            </div>
	                        </a>
	                    </figure>
	                    <ul>
	                        <li>
	                            <a href="author.html" class="author">
	                                <div class="author_thumb">
	                                    <figure>
	                                        <img src="static/picture/avatar-placeholder.png" data-src="img/avatar1.jpg" alt="" class="owl-lazy" width="100" height="100">
	                                    </figure>
	                                </div>
	                                <h6>@Pixel_inc</h6>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="#0" class="wish_bt"><i class="bi bi-heart-fill"></i></a> 50
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <!-- /item -->
	            <div class="item">
	                <div class="strip">
	                    <figure>
	                        <a href="#modal-dialog" class="btn_1 modal_popup">Place a bid</a>
	                        <img src="static/picture/item-1-placeholder.png" data-src="img/items/item-7.gif" class="owl-lazy" alt="" width="598" height="400">
	                        <a href="detail-page.html" class="strip_info">
	                            <div class="item_title">
	                                <h3>Driving to center</h3>
	                                <small>4.60 ETH</small>
	                            </div>
	                        </a>
	                    </figure>
	                    <ul>
	                        <li>
	                            <a href="author.html" class="author">
	                                <div class="author_thumb veryfied"><i class="bi bi-check"></i>
	                                    <figure>
	                                        <img src="static/picture/avatar-placeholder.png" data-src="img/avatar3.jpg" alt="" class="owl-lazy" width="100" height="100">
	                                    </figure>
	                                </div>
	                                <h6>@Marc_Osl</h6>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="#0" class="wish_bt"><i class="bi bi-heart-fill"></i></a> 50
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <!-- /item -->
	        </div>
	        <!-- /carousel -->
	        <p class="text-center mt-4" data-cue="slideInUp"><a href="grid-listing-1.html" class="btn_1 medium pulse_bt">Start Searching</a></p>
	    </div>
	    <!-- /container -->

	    <div class="bg_gray">
	        <div class="container margin_120_90">
	            <div class="main_title version_2">
	                <span><em></em></span>
	                <h2>Weekly Top Creators</h2>
	                <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
	                <a href="#0">View All <i class="bi bi-arrow-right"></i></a>
	            </div>
	            <!-- /main_title -->

	            <div class="row author_list">
	                <div class="col-lg-4 col-md-6" data-cue="slideInUp">
	                    <a href="author.html" class="author">
	                        <strong>1</strong>
	                        <div class="author_thumb veryfied">
	                            <i class="bi bi-check"></i>
	                            <figure>
	                                <img src="static/picture/avatar-placeholder.png" data-src="img/avatar1.jpg" alt="" class="lazy" width="100" height="100">
	                            </figure>
	                        </div>
	                        <div>
	                            <h6>@Jhonny_Bet</h6>
	                            <span>3.2 ETH</span>
	                        </div>
	                    </a>
	                </div>
	                <div class="col-lg-4 col-md-6" data-cue="slideInUp">
	                    <a href="author.html" class="author">
	                        <strong>2</strong>
	                        <div class="author_thumb veryfied">
	                            <i class="bi bi-check"></i>
	                            <figure>
	                                <img src="static/picture/avatar-placeholder.png" data-src="img/avatar2.jpg" alt="" class="lazy" width="100" height="100">
	                            </figure>
	                        </div>
	                        <div>
	                            <h6>@George_bite</h6>
	                            <span>2.2 ETH</span>
	                        </div>
	                    </a>
	                </div>
	                <div class="col-lg-4 col-md-6" data-cue="slideInUp">
	                    <a href="author.html" class="author">
	                        <strong>3</strong>
	                        <div class="author_thumb veryfied">
	                            <i class="bi bi-check"></i>
	                            <figure>
	                                <img src="static/picture/avatar-placeholder.png" data-src="img/avatar3.jpg" alt="" class="lazy" width="100" height="100">
	                            </figure>
	                        </div>
	                        <div>
	                            <h6>@Monica_claus</h6>
	                            <span>1.9 ETH</span>
	                        </div>
	                    </a>
	                </div>
	                <div class="col-lg-4 col-md-6" data-cue="slideInUp">
	                    <a href="author.html" class="author">
	                        <strong>4</strong>
	                        <div class="author_thumb veryfied">
	                            <i class="bi bi-check"></i>
	                            <figure>
	                                <img src="static/picture/avatar-placeholder.png" data-src="img/avatar4.jpg" alt="" class="lazy" width="100" height="100">
	                            </figure>
	                        </div>
	                        <div>
	                            <h6>@Mad_max</h6>
	                            <span>1.8 ETH</span>
	                        </div>
	                    </a>
	                </div>
	                <div class="col-lg-4 col-md-6" data-cue="slideInUp">
	                    <a href="author.html" class="author">
	                        <strong>5</strong>
	                        <div class="author_thumb veryfied">
	                            <i class="bi bi-check"></i>
	                            <figure>
	                                <img src="static/picture/avatar-placeholder.png" data-src="img/avatar5.jpg" alt="" class="lazy" width="100" height="100">
	                            </figure>
	                        </div>
	                        <div>
	                            <h6>@Fredrick_green</h6>
	                            <span>1.5 ETH</span>
	                        </div>
	                    </a>
	                </div>
	                <div class="col-lg-4 col-md-6" data-cue="slideInUp">
	                    <a href="author.html" class="author">
	                        <strong>6</strong>
	                        <div class="author_thumb veryfied">
	                            <i class="bi bi-check"></i>
	                            <figure>
	                                <img src="static/picture/avatar-placeholder.png" data-src="img/avatar6.jpg" alt="" class="lazy" width="100" height="100">
	                            </figure>
	                        </div>
	                        <div>
	                            <h6>@Paul_best</h6>
	                            <span>1.2 ETH</span>
	                        </div>
	                    </a>
	                </div>
	                <div class="col-lg-4 col-md-6" data-cue="slideInUp">
	                    <a href="author.html" class="author">
	                        <strong>7</strong>
	                        <div class="author_thumb veryfied">
	                            <i class="bi bi-check"></i>
	                            <figure>
	                                <img src="static/picture/avatar-placeholder.png" data-src="img/avatar7.jpg" alt="" class="lazy" width="100" height="100">
	                            </figure>
	                        </div>
	                        <div>
	                            <h6>@Mike_ansonika</h6>
	                            <span>1.0 ETH</span>
	                        </div>
	                    </a>
	                </div>
	                <div class="col-lg-4 col-md-6" data-cue="slideInUp">
	                    <a href="author.html" class="author">
	                        <strong>8</strong>
	                        <div class="author_thumb veryfied">
	                            <i class="bi bi-check"></i>
	                            <figure>
	                                <img src="static/picture/avatar-placeholder.png" data-src="img/avatar8.jpg" alt="" class="lazy" width="100" height="100">
	                            </figure>
	                        </div>
	                        <div>
	                            <h6>@Robert_gain</h6>
	                            <span>0.9 ETH</span>
	                        </div>
	                    </a>
	                </div>
	                <div class="col-lg-4 col-md-6" data-cue="slideInUp">
	                    <a href="author.html" class="author">
	                        <strong>9</strong>
	                        <div class="author_thumb veryfied">
	                            <i class="bi bi-check"></i>
	                            <figure>
	                                <img src="static/picture/avatar-placeholder.png" data-src="img/avatar9.jpg" alt="" class="lazy" width="100" height="100">
	                            </figure>
	                        </div>
	                        <div>
	                            <h6>@Luca_george</h6>
	                            <span>0.7 ETH</span>
	                        </div>
	                    </a>
	                </div>
	            </div>
	            <!-- /row -->

	            <div class="banner mt-5 lazy" data-bg="url(img/banner_bg.jpg)" data-cue="slideInUp">
	            	<div class="d-flex align-items-center opacity-mask justify-content-between p-5" data-opacity-mask="rgba(0, 0, 0, 0.2)">
						<div>
							<small>Join the Community</small>
							<h3>Become a Creator</h3>
							<p>Start selling your artworks and gain huge profits!</p>
						</div>
						<div><a href="become-author.html" class="btn_1 medium pulse_bt">Join Now</a></div>
					</div>
					<!-- /wrapper -->
	            </div>
	            <!-- /banner -->

	        </div>
	        <!-- /container -->
	    </div>
	    <!-- /bg_gray -->

	    <div class="container margin_120_90">
	        <div class="main_title version_2">
	            <span><em></em></span>
	            <h2>New Items</h2>
	            <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
	            <a href="#0">View All <i class="bi bi-arrow-right"></i></a>
	        </div>
	        <!-- /main_title -->

	        <div class="row justify-content-center">
	            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" data-cue="slideInUp">
	                <div class="strip">
	                    <figure>
	                        <img src="static/picture/item-1-placeholder.png" data-src="img/items/item-8.jpg" class="lazy" alt="" width="533" height="400">
	                        <a href="detail-page.html" class="strip_info">
	                            <div class="item_title">
	                                <h3>Lost Women</h3>
	                                <small>2.45 ETH</small>
	                            </div>
	                        </a>
	                    </figure>
	                    <ul>
	                        <li>
	                            <a href="author.html" class="author">
	                                <div class="author_thumb">
	                                    <figure>
	                                        <img src="static/picture/avatar-placeholder.png" data-src="img/avatar2.jpg" alt="" class="lazy" width="100" height="100"></figure>
	                                </div>
	                                <h6>@Jhonny_Bet</h6>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="#0" class="wish_bt"><i class="bi bi-heart-fill"></i></a> 50
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <!-- /strip grid -->
	            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" data-cue="slideInUp">
	                <div class="strip">
	                    <figure>
	                        <img src="static/picture/item-1-placeholder.png" data-src="img/items/item-9.jpg" class="lazy" alt="" width="533" height="400">
	                        <a href="detail-page.html" class="strip_info">
	                            <div class="item_title">
	                                <h3>Hidden Fall</h3>
	                                <small>1.65 ETH</small>
	                            </div>
	                        </a>
	                    </figure>
	                    <ul>
	                        <li>
	                            <a href="author.html" class="author">
	                                <div class="author_thumb veryfied"><i class="bi bi-check"></i>
	                                    <figure>
	                                        <img src="static/picture/avatar-placeholder.png" data-src="img/avatar4.jpg" alt="" class="lazy" width="100" height="100"></figure>
	                                </div>
	                                <h6>@Gregory</h6>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="#0" class="wish_bt"><i class="bi bi-heart-fill"></i></a> 50
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <!-- /strip grid -->
	            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" data-cue="slideInUp">
	                <div class="strip">
	                    <figure>
	                        <img src="static/picture/item-1-placeholder.png" data-src="img/items/item-10.jpg" class="lazy" alt="" width="533" height="400">
	                        <a href="detail-page.html" class="strip_info">
	                            <div class="item_title">
	                                <h3>Clock Ocean</h3>
	                                <small>0.95 ETH</small>
	                            </div>
	                        </a>
	                    </figure>
	                    <ul>
	                        <li>
	                            <a href="author.html" class="author">
	                                <div class="author_thumb">
	                                    <figure>
	                                        <img src="static/picture/avatar-placeholder.png" data-src="img/avatar4.jpg" alt="" class="lazy" width="100" height="100"></figure>
	                                </div>
	                                <h6>@Robert98</h6>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="#0" class="wish_bt"><i class="bi bi-heart-fill"></i></a> 50
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <!-- /strip grid -->
	            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" data-cue="slideInUp">
	                <div class="strip">
	                    <figure>
	                        <img src="static/picture/item-1-placeholder.png" data-src="img/items/item-11.jpg" class="lazy" alt="" width="533" height="400">
	                        <a href="detail-page.html" class="strip_info">
	                            <div class="item_title">
	                                <h3>Hello World!</h3>
	                                <small>1.25 ETH</small>
	                            </div>
	                        </a>
	                    </figure>
	                    <ul>
	                        <li>
	                            <a href="author.html" class="author">
	                                <div class="author_thumb">
	                                    <figure>
	                                        <img src="static/picture/avatar-placeholder.png" data-src="img/avatar3.jpg" alt="" class="lazy" width="100" height="100">
	                                    </figure>
	                                </div>
	                                <h6>@Salazar</h6>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="#0" class="wish_bt"><i class="bi bi-heart-fill"></i></a> 50
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <!-- /strip grid -->
	            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" data-cue="slideInUp">
	                <div class="strip">
	                    <figure>
	                        <img src="static/picture/item-1-placeholder.png" data-src="img/items/item-12.jpg" class="lazy" alt="" width="533" height="400">
	                        <a href="detail-page.html" class="strip_info">
	                            <div class="item_title">
	                                <h3>Brain Storm</h3>
	                                <small>2.95 ETH</small>
	                            </div>
	                        </a>
	                    </figure>
	                    <ul>
	                        <li>
	                            <a href="author.html" class="author">
	                                <div class="author_thumb">
	                                    <figure>
	                                        <img src="static/picture/avatar-placeholder.png" data-src="img/avatar1.jpg" alt="" class="lazy" width="100" height="100"></figure>
	                                </div>
	                                <h6>@Bennet_corp</h6>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="#0" class="wish_bt"><i class="bi bi-heart-fill"></i></a> 50
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <!-- /strip grid -->
	            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" data-cue="slideInUp">
	                <div class="strip">
	                    <figure>
	                        <img src="static/picture/item-1-placeholder.png" data-src="img/items/item-6.jpg" class="lazy" alt="" width="533" height="400">
	                        <a href="detail-page.html" class="strip_info">
	                            <div class="item_title">
	                                <h3>The King</h3>
	                                <small>0.34 ETH</small>
	                            </div>
	                        </a>
	                    </figure>
	                    <ul>
	                        <li>
	                            <a href="author.html" class="author">
	                                <div class="author_thumb">
	                                    <figure>
	                                        <img src="static/picture/avatar-placeholder.png" data-src="img/avatar1.jpg" alt="" class="lazy" width="100" height="100"></figure>
	                                </div>
	                                <h6>@Pixel_inc</h6>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="#0" class="wish_bt"><i class="bi bi-heart-fill"></i></a> 50
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <!-- /strip grid -->
	            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" data-cue="slideInUp">
	                <div class="strip">
	                    <figure>
	                        <img src="static/picture/item-1-placeholder.png" data-src="img/items/item-7.gif" class="lazy" alt="" width="598" height="400">
	                        <a href="detail-page.html" class="strip_info">
	                            <div class="item_title">
	                                <h3>Driving to center</h3>
	                                <small>4.60 ETH</small>
	                            </div>
	                        </a>
	                    </figure>
	                    <ul>
	                        <li>
	                            <a href="author.html" class="author">
	                                <div class="author_thumb veryfied"><i class="bi bi-check"></i>
	                                    <figure>
	                                        <img src="static/picture/avatar-placeholder.png" data-src="img/avatar3.jpg" alt="" class="lazy" width="100" height="100"></figure>
	                                </div>
	                                <h6>@Marc_Osl</h6>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="#0" class="wish_bt"><i class="bi bi-heart-fill"></i></a> 50
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <!-- /strip grid -->
	            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" data-cue="slideInUp">
	                <div class="strip">
	                    <figure>
	                        <img src="static/picture/item-1-placeholder.png" data-src="img/items/item-8.jpg" class="lazy" alt="" width="533" height="400">
	                        <a href="detail-page.html" class="strip_info">
	                            <div class="item_title">
	                                <h3>Lost Women</h3>
	                                <small>2.45 ETH</small>
	                            </div>
	                        </a>
	                    </figure>
	                    <ul>
	                        <li>
	                            <a href="author.html" class="author">
	                                <div class="author_thumb">
	                                    <figure>
	                                        <img src="static/picture/avatar-placeholder.png" data-src="img/avatar2.jpg" alt="" class="lazy" width="100" height="100"></figure>
	                                </div>
	                                <h6>@Jhonny_Bet</h6>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="#0" class="wish_bt"><i class="bi bi-heart-fill"></i></a> 50
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <!-- /strip grid -->
	        </div>
	        <!-- /row -->
	        <p class="text-center mt-4" data-cue="slideInUp"><a href="grid-listing-1.html" class="btn_1 gradient pulse_bt">View New Items</a></p>
	    </div>
	    <!-- /container -->

	    <div class="bg_gray">
	        <div class="container margin_120_90">
	            <div class="main_title center mb-5">
	                <span><em></em></span>
	                <h2>Create and sell your NFTs</h2>
	                <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
	            </div>
	            <div class="row justify-content-md-center how_2">
	                <div class="col-lg-5 text-center">
	                    <figure class="mb-5">
	                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/web_wireframe.svg" alt="" class="img-fluid lazy" width="360" height="380">
	                    </figure>
	                </div>
	                <div class="col-lg-5">
	                    <ul>
	                        <li data-cue="slideInUp">
	                            <h3><span>#01.</span> Set up your wallet</h3>
	                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
	                        </li>
	                        <li data-cue="slideInUp">
	                            <h3><span>#02.</span> Add your NFT's</h3>
	                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
	                        </li>
	                        <li data-cue="slideInUp">
	                            <h3><span>#03.</span> Sell your NFT's</h3>
	                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
	                        </li>
	                    </ul>
	                    <p class="add_top_30" data-cue="slideInUp"><a href="become-author.html" class="btn_1">Start Selling</a></p>
	                </div>
	                <!-- /row -->
	            </div>
	        </div>
	        <!-- /container -->
	    </div>
	    <!-- /bg_gray -->

	    <div class="container margin_120_90">
	    	<div class="main_title version_2">
	            <span><em></em></span>
	            <h2>Latest News</h2>
	            <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
	            <a href="#0">View All <i class="bi bi-arrow-right"></i></a>
	        </div>
	        <!-- /main_title -->

	    	<div class="row">
			    <div class="col-lg-4" data-cue="slideInUp">
			        <article class="blog">
			            <figure>
			                <a href="blog-post.html"><img src="static/picture/item-blog-placeholder.png" data-src="img/blog-5.jpg" alt="" class="lazy" width="800" height="533">
			                </a>
			            </figure>
			            <div class="post_info">
			                <small>Category - 20 Nov. 2021</small>
			                <h2><a href="blog-post.html">Ea exerci option hendrerit</a></h2>
			                <p>Quodsi sanctus pro eu, ne audire scripserit quo. Vel an enim offendit salutandi, in eos quod omnes epicurei, ex veri qualisque scriptorem mei.</p>
			                <ul>
			                    <li>
			                        <div class="thumb"><img src="static/picture/avatar-placeholder.png" data-src="img/avatar2.jpg" class="lazy" alt="" width="68" height="68"></div> Admin
			                    </li>
			                    <li><i class="bi bi-chat"></i>20</li>
			                </ul>
			            </div>
			        </article>
			        <!-- /article -->
			    </div>
			    <div class="col-lg-4" data-cue="slideInUp">
			        <article class="blog">
			            <figure>
			                <a href="blog-post.html"><img src="static/picture/item-blog-placeholder.png" data-src="img/blog-4.jpg" alt="" class="lazy" width="800" height="533">
			                </a>
			            </figure>
			            <div class="post_info">
			                <small>Category - 20 Nov. 2021</small>
			                <h2><a href="blog-post.html">At usu sale dolorum offendit</a></h2>
			                <p>Quodsi sanctus pro eu, ne audire scripserit quo. Vel an enim offendit salutandi, in eos quod omnes epicurei, ex veri qualisque scriptorem mei.</p>
			                <ul>
			                    <li>
			                        <div class="thumb"><img src="static/picture/avatar-placeholder.png" data-src="img/avatar2.jpg" class="lazy" alt="" width="68" height="68"></div> Admin
			                    </li>
			                    <li><i class="bi bi-chat"></i>20</li>
			                </ul>
			            </div>
			        </article>
			        <!-- /article -->
			    </div>
			    <div class="col-lg-4" data-cue="slideInUp">
			        <article class="blog">
			            <figure>
			                <a href="blog-post.html"><img src="static/picture/item-blog-placeholder.png" data-src="img/blog-6.jpg" alt="" class="lazy" width="800" height="533">
			                </a>
			            </figure>
			            <div class="post_info">
			                <small>Category - 20 Nov. 2021</small>
			                <h2><a href="blog-post.html">Iusto nominavi petentium in</a></h2>
			                <p>Quodsi sanctus pro eu, ne audire scripserit quo. Vel an enim offendit salutandi, in eos quod omnes epicurei, ex veri qualisque scriptorem mei.</p>
			                <ul>
			                    <li>
			                        <div class="thumb"><img src="static/picture/avatar-placeholder.png" data-src="img/avatar2.jpg" class="lazy" alt="" width="68" height="68"></div> Admin
			                    </li>
			                    <li><i class="bi bi-chat"></i>20</li>
			                </ul>
			            </div>
			        </article>
			        <!-- /article -->
			    </div>
			</div>
			<!-- /row -->
	    </div>
	    <!-- /container -->

	</main>
	<!-- /main -->

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<h3>Marketplace</h3>
					<div class="links">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="grid-listing-1.html">Explore</a></li>
							<li><a href="login.html">Login</a></li>
							<li><a href="register.html">Register</a></li>
							<li><a href="contacts.html">Contacts</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<h3>Useful Links</h3>
					<div class="links">
						<ul>
							<li><a href="help.html">Help Center</a></li>
							<li><a href="connect-wallet.html">Connect Wallet</a></li>
							<li><a href="help.html">Faq</a></li>
							<li><a href="pricing-tables-2.html">Pricing</a></li>
							<li><a href="contacts.html">Become an Author</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<h3>Resources</h3>
					<div class="links">
						<ul>
							<li><a href="#0">Blog</a></li>
							<li><a href="#0">Community</a></li>
							<li><a href="#0">Best Price</a></li>
							<li><a href="#0">Latest Submissions</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
				    <h3>Keep in touch</h3>
				    <div id="newsletter">
				        <div id="message-newsletter"></div>
				        <form method="post" name="newsletter_form" id="newsletter_form">
				            <div class="form-group">
				                <input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="Your email">
				                <button type="submit" id="submit-newsletter"><i class="bi bi-chevron-right"></i></button>
				            </div>
				        </form>
				    </div>
				    <div class="follow_us">
				        <ul>
				            <li>
				                <a href="#0"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/twitter_icon.svg" alt="" class="lazy"></a>
				            </li>
				            <li>
				                <a href="#0"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/facebook_icon.svg" alt="" class="lazy"></a>
				            </li>
				            <li>
				                <a href="#0"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/instagram_icon.svg" alt="" class="lazy"></a>
				            </li>
				            <li>
				                <a href="#0"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/youtube_icon.svg" alt="" class="lazy"></a>
				            </li>
				        </ul>
				    </div>
				</div>
			</div>
			<!-- /row-->
			<hr>
			<div class="row add_bottom_25">
				<div class="col-md-6">
					<ul class="footer-selector clearfix">
						<li>
							<div class="styled-select lang-selector">
								<select>
									<option value="English" selected="">English</option>
									<option value="French">French</option>
									<option value="Spanish">Spanish</option>
									<option value="Russian">Russian</option>
								</select>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul class="additional_links">
						<li><a href="#0">Terms and conditions</a></li>
						<li>© 2022 Magellano</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->

	<div id="toTop"></div><!-- Back to top button -->

	<!-- Modal Bid -->
    <div id="modal-dialog" class="zoom-anim-dialog mfp-hide">
        <div class="modal_header">
            <h3>Place a bid</h3>
        </div>
        <form>
            <div class="sign-in-wrapper">
                <p>You are about to purchase <strong>"Amazing Art" #304</strong> from <strong>George Lucas</strong></p>
                <div class="form-group">
                    <label>Your bid (ETH)</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Enter quantity <small>(10 available)</small></label>
                    <input type="text" class="form-control">
                </div>
                <ul>
                    <li>
                        Your balance <span>8.498 ETH</span>
                    </li>
                    <li>
                        Service fee 1.5%<span>0.125 ETH</span>
                    </li>
                    <li>
                        You will pay<span>8.798 ETH</span>
                    </li>
                </ul>
                <div class="text-center">
                    <input type="submit" value="Place a bid" class="btn_1 full-width mb-2">
                    <input type="submit" value="Cancel" class="btn_1 full-width outline">
                </div>
            </div>
        </form>
        <!--form -->
    </div>
    <!-- /Modal -->
	
	<!-- COMMON SCRIPTS -->
    <script src="static/js/common_scripts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="static/js/common_func.js"></script>

</body>
</html>