<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhongshijie1995.big_boot.sql.mapper.SQLMapper">

    <insert id="post" parameterType="HashMap">
        insert into ${tableName}
        <if test="keys != null">
            <foreach collection="keys" index="index" item="key" open="(" close=")" separator=",">
                ${key}
            </foreach>
        </if>
        values
        <if test="values != null">
            <foreach collection="values" index="index" item="value" open="(" close=")" separator=",">
                '${value}'
            </foreach>
        </if>
    </insert>

    <select id="get" resultType="HashMap">
        select *
        from ${tableName}
    </select>

</mapper>
